{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form ':Form:register.html.twig' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register  form-signin'}}) }}

<h2 class="form-signin-heading">Registration Form</h2>

{{ form_row(form.name, { 'label': 'Your Name' }) }}
{{ form_row(form.email, {'label':'Email'})}}
{{ form_row(form.plainPassword.first, { 'label': 'Password' }) }}
{{ form_row(form.plainPassword.second, { 'label': 'Password confirmation' }) }}

{{ form_rest(form) }}

<button type="submit" class="btn btn-primary btn-lg btn-block" name="_submit">Register</button>

{{ form_errors(form) }}

{{ form_end(form) }}
