{% extends ':User:main.html.twig' %}

{% block title %}Booking{% endblock %}

{% block content %}
<h1 class="page-header">Booking</h1>
<div class="add-content">
<b>Movie: </b>{{ projection.getMovieName }}<br>
<b>Cinema: </b>{{ projection.getCinemaName }}<br>
<b>Date: </b>{{ projection.s_date }}<br>
<b>Start: </b>{{ projection.s_start }}<br>
  <b>End: </b>{{ projection.s_end }}<br>
<b>Hall: </b>{{ projection.hallName }}<br>
</div>

<div class="bg-searchform">
  {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
  {{ form_errors(form) }}

  <div class="form-group">
    {{ form_label(form.seat, none, {'label_attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.seat, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.priceCategory , none, {'label_attr': {'class': 'sr-only'}}) }}
    {{ form_widget(form.priceCategory , {'attr': {'class': 'form-control'}}) }}
  </div>

  {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
  {{ form_end(form) }}
</div>

{% endblock %}
