<ul class="nav">
  <li>
    <a {% if app.request.get('_route') == 'programme' %} class="active"{% endif %}
    href="{{ path('programme') }}">Programme</a>
  </li>
  <li>
    <a {% if app.request.get('_route') == 'cinemas' %} class="active"{% endif %}
    href="{{ path('cinemas') }}">Cinemas</a>
  </li>

  {# any user has been logged in, TODO: the route needs to be changed #}
  {% if app.user != null and is_granted("ROLE_USER") %}
    <li>
      <a {% if app.request.get('_route') == 'cinemas' %} class="active"{% endif %}
      href="{{ path('cinemas') }}">My account</a>
    </li>
    <li>
      <a {% if app.request.get('_route') == 'reservations' %} class="active"{% endif %}
      href="{{ path('reservations') }}">Reservations</a>
    </li>
  {% endif %}

  {# a cashier has been logged in, TODO: the route needs to be changed #}
  {% if app.user != null and is_granted("ROLE_CASHIER") %}
    <li>
      <a {% if app.request.get('_route') == 'cinemas' %} class="active"{% endif %}
      href="{{ path('cinemas') }}">Tickets</a>
    </li>
  {% endif %}

  {# a manager has been logged in, TODO: the route needs to be changed #}
  {% if app.user != null and is_granted("ROLE_MANAGER") %}
    <li>
      <a {% if app.request.get('_route') == 'cinemas' %} class="active"{% endif %}
      href="{{ path('cinemas') }}">Receipts</a>
    </li>
  {% endif %}

  {# an admin has been logged in, TODO: the route needs to be changed #}
  {% if app.user != null and is_granted("ROLE_ADMIN") %}
    <li>
      <a {% if app.request.get('_route') == 'cinema-list' %} class="active"{% endif %}
      href="{{ path('cinema-list') }}">System</a>
    </li>
  {% endif %}


  {#logout / login #}
  <li>
    {% if app.user %}
      <a {% if app.request.get('_route') == 'fos_user_security_logout' %} class="active"{% endif %}
      href="{{ path('fos_user_security_logout') }}">Logout</a>
    {% else %}
      <a {% if app.request.get('_route') == 'fos_user_security_login' %} class="active"{% endif %}
      href="{{ path('fos_user_security_login') }}">Login</a>
    {% endif %}
  </li>
</ul>
