{% extends ':User:main.html.twig' %}

{% form_theme form ':Form:search.html.twig' %}


{% block title %}
  Programme
{% endblock %}

{# Add stylesheet for date picker #}
{% block stylesheets %}
{{ parent() }}
{{ form_stylesheet(form) }}
{% endblock %}

{# Add javascript for date picker #}
{% block javascripts %}
{{ parent() }}
{{ form_javascript(form) }}
{% endblock %}

{% block content %}
<h1 class="page-header">Programme <a href="/xml" class="btn btn-default">XML</a></h1>


{# Search bar #}
<div class="bg-searchform">

{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.movie) }}
{{ form_row(form.cinema) }}
{{ form_row(form.genre) }}
{{ form_row(form.date) }}

{{ form_widget(form.save) }}

{{ form_end(form) }}
</div>

{# Table with projections #}
<table class="table table-striped">
  <tr>
    <th>Time</th>
    <th>Date</th>
    <th>Movie</th>
    <th>Genre</th>
    <th>Cinema</th>
    <th></th>
  </tr>
  {% for projection in projections %}
  <tr>
    <td>{{ projection.s_start }}</td>
    <td>{{ projection.s_date }}</td>
    <td>{{ projection.getMovieName }}</td>
    <td>{{ projection.getGenre }}</td>
    <td>{{ projection.getCinemaName }}</td>
    <td><a href="programme/booking/{{ projection.getId }}"
      class="btn btn-default">Book it</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
