{% extends ':User:main.html.twig' %}

{% block title %}Programme{% endblock %}

{# Add stylesheet for date picker #}
{% block stylesheets %}
{{ parent() }}
{{ form_stylesheet(form) }}
{% endblock %}

{# Add javascript for date picker #}
{% block javascripts %}
{{ parent() }}
{{ form_javascript(form) }}
{% endblock %}

{% block content %}
<h1 class="page-header">Programme</h1>

{# Search bar #}
<div class="bg-searchform">
{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
{{ form_errors(form) }}

<div class="form-group">
  {{ form_label(form.movie, none, {'label_attr': {'class': 'sr-only'}}) }}
  {{ form_widget(form.movie, {'attr': {'class': 'form-control', 'placeholder': 'Film'}}) }}
</div>
<div class="form-group">
  {{ form_label(form.cinema, none, {'label_attr': {'class': 'sr-only'}}) }}
  {{ form_widget(form.cinema, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
  {{ form_label(form.genre , none, {'label_attr': {'class': 'sr-only'}}) }}
  {{ form_widget(form.genre , {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    <!-- <label class="sr-only" for="{{ form.date.vars.id }}"></label> -->
    <!-- <input type="text" class="form-control" id="{{ form.date.vars.id }}" placeholder="Dátum"> -->
  {{ form_label(form.date, none, {'label_attr': {'class':'sr-only'}}) }}
  {{ form_errors(form.date) }}
  {{ form_widget(form.date, {'attr': {'class': 'form-control', 'placeholder': 'Date'}}) }}
  <span class="add-on"><i class="icon-th"></i></span>
</div>

{{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}

{{ form_end(form) }}
</div>

{# Table with projections #}
<table class="table table-striped">
  <tr>
    <th>Time</th>
    <th>Date</th>
    <th>Movie</th>
    <th>Genre</th>
    <th>Cinema</th>
  </tr>
  {% for projection in projections %}
  <tr>
    <td>{{ projection.s_start }}</td>
    <td>{{ projection.s_date }}</td>
    <td>{{ projection.getMovieName }}</td>
    <td>{{ projection.getGenre }}</td>
    <td>Kino
      {{ projection.getCinemaName }}</td>
    <td><a href="programme/booking/{{ projection.getId }}">Book it</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
