{# a manager has been logged in #}
{% if app.user != null and is_granted("ROLE_MANAGER") %}
<ul class="nav nav-sidebar">
  <li {% if active == 'cinemas' %} class="active"{% endif %}>
    <a href="{{ path('cinema-list') }}">Cinemas</a>
  </li>
  <li {% if active == 'projections' %} class="active"{% endif %}>
    <a href="{{ path('projection-list') }}">Screenings</a>
  </li>
  <li {% if active == 'movies' %} class="active"{% endif %}>
    <a href="{{ path('movie-list') }}">Movies</a>
  </li>
  <li {% if active == 'genres' %} class="active"{% endif %}>
    <a href="{{ path('genre-list') }}">Genres</a>
  </li>
  <li {% if active == 'categories' %} class="active"{% endif %}>
    <a href="{{ path('category-list') }}">Price List</a>
  </li>
</ul>
{% endif %}

{# a manager has been logged in #}
{% if app.user != null and is_granted("ROLE_MANAGER") %}
<ul class="nav nav-sidebar">
  <li {% if active == 'profit' %} class="active"{% endif %}>
    <a href="{{ path('profit') }}">Profit</a>
  </li>
</ul>
{% endif %}

{# a cashier has been logged in #}
{% if app.user != null and is_granted("ROLE_CASHIER") %}
<ul class="nav nav-sidebar">
  <li {% if active == 'cashier' %} class="active"{% endif %}>
    <a href="{{ path('cashier') }}">Cashier</a>
  </li>
  <ul>
    <li {% if active == 'cashier-reservations' %} class="active"{% endif %}>
      <a href="{{ path('cashier-reservations')}}">Sell reservation</a>
    </li>
    <li {% if active == 'cashier-tickets' %} class="active"{% endif %}>
      <a href="{{ path('cashier-tickets') }}">Sell new ticket</a>
    </li>
  </ul>
</ul>
{% endif %}

{# an admin has been logged in #}
{% if app.user != null and is_granted("ROLE_ADMIN") %}
<ul class="nav nav-sidebar">
  <li {% if active == 'users' %} class="active"{% endif %}>
    <a href="{{ path('user-list') }}">Users</a>
  </li>
</ul>
{% endif %}


<ul class="nav nav-sidebar">
  <li>
    <a href="/logout">Logout</a>
  </li>
</ul>
