{% extends ':Admin:main.html.twig' %}

{% form_theme form ':Form:dashboard.html.twig' %}

{% block content %}
<h1 class="page-header">Sell new ticket</h1>

{% if errorMsg %}
<div class="alert alert-danger">
  {{ errorMsg }}
</div>
{% endif %}

{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.seat) }}
{{ form_row(form.priceCategory ) }}

{{ form_widget(form.sell) }}

{{ form_end(form) }}

{% endblock %}
