{% extends ':Admin:main.html.twig' %}

{% block title %}Reservations{% endblock %}

{% form_theme getUserForm ':Form:find.html.twig' %}

{% block sidebar %}
  {{ parent() }}
{% endblock %}

{% block content %}
  {% if err %}
    <div class="alert alert-danger">
      {{ err }}
    </div>
  {% endif %}

  {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
  {% endif %}

  <div class="add-content">

  {{ form_start(getUserForm) }}
  {{ form_widget(getUserForm) }}
  {{ form_end(getUserForm) }}

  {% if app.session.flashBag.has('success') %}
          <div class="alert alert-success">
              {% for msg in app.session.flashBag.get('success') %}
                  {{ msg }}
              {% endfor %}
          </div>
  {% endif %}
  </div>


  {% if user != null %}
    {# Table with tickets #}
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>Movie</th>
        <th>Cinema</th>
        <th>Hall</th>
        <th>Seat number</th>
        <th>Price category</th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
      {% for ticket in tickets %}
      <tr>
        <td>{{ ticket.getProjection.s_date }}</td>
        <td>{{ ticket.getProjection.getMovieName}}</td>
        <td>Kino {{ ticket.projection.getCinemaName }}</td>
        <td>{{ ticket.getProjection.getHallName }}</td>
        <td>{{ ticket.getSeat.getNumber }}</td>
        <td>{{ ticket.getPriceCategory.getCategory }}</td>
        <td>{{ ticket.getTicketPrice }}</td>
        <td>
          <a href="{{ path('cashier-reservations', {'action':'cancel',
            'user_id': user.getId, 'ticket_id': ticket.getId}) }}"
            class="btn btn-default">
            Cancel
          </a>
        </td>
        <td>
          <a href="{{ path('cashier-reservations', {'action':'sell',
            'user_id': user.getId, 'ticket_id': ticket.getId}) }}"
            class="btn btn-default">
            Sell
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
