{% extends ':Admin:main.html.twig' %}

{% form_theme formCinema ':Form:dashboard.html.twig' %}
{% form_theme formHallAdd ':Form:add.html.twig' %}

{% block content %}
<h1 class="page-header">{{ cinema.name }} Cinema</h1>

{% if errorMsg %}
<div class="alert alert-danger">
  {{ errorMsg }}
</div>
{% endif %}

<h3>Attributes</h3>

{{ form_start(formCinema) }}
{{ form_errors(formCinema) }}

{{ form_row(formCinema.address) }}

{{ form_widget(formCinema.save) }}
{{ form_widget(formCinema.delete)}}

{{ form_end(formCinema) }}

<h3>Halls</h3>

<div class="add-content">
{{ form_start(formHallAdd) }}
{{ form_errors(formHallAdd) }}

{{ form_row(formHallAdd.number) }}
{{ form_row(formHallAdd.capacity) }}
{{ form_row(formHallAdd.capacity) }}

{{ form_widget(formHallAdd.add) }}

{{ form_end(formHallAdd) }}
</div>

<table class="table table-striped">
  <tr>
    <th>Hall number</th>
    <th>Capacity</th>
    <th></th>
  </tr>
  {% for hall in cinema.halls %}
  <tr>
    <td>{{ hall.getNumber }}</td>
    <td>{{ hall.getCapacity }}</td>
    <td><a href="{{ path('hall-edit', {'id' : hall.id }) }}"
      class="btn btn-default">Edit</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
