{% extends ':User:main.html.twig' %}
{% form_theme form ':Form:register.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<h1 class="page-header">Edit profile</h1>
<div class="row">

  <div class="col-sm-6">

    {# display success message, if any#}
    {% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
      {% for msg in app.session.flashBag.get('success') %}
      {{ msg }}
      {% endfor %}
    </div>
    {% endif %}

    {# display error message, if any#}
    {% if app.session.flashBag.has('warning') %}
    <div class="alert alert-danger">
      {% for msg in app.session.flashBag.get('warning') %}
      {{ msg }}
      {% endfor %}
    </div>
    {% endif %}

    {# render the form #}
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.oldPass) }}
    {{ form_row(form.newPass) }}
    {{ form_row(form.newPassRetyped) }}

    {{ form_widget(form.save) }}
  </div>
</div>

{% endblock %}
