{% extends ':Admin:main.html.twig' %}

{% form_theme form ':Form:useredit.html.twig' %}

{% block content %}
<h1 class="page-header">User edit</h1>

{% if errorMsg %}
<div class="alert alert-danger">
  {{ errorMsg }}
</div>
{% endif %}

  {# display error message, if any#}
  {% if app.session.flashBag.has('warning') %}
    <div class="alert alert-danger">
      {% for msg in app.session.flashBag.get('warning') %}
        {{ msg }}
      {% endfor %}
    </div>
  {% endif %}

{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.name) }}
{{ form_row(form.email) }}
{{ form_row(form.roles) }}
{{ form_row(form.enabled) }}

{{ form_widget(form.save) }}
{{ form_widget(form.delete)}}

{{ form_end(form) }}

{% endblock %}
