{% extends ':Admin:main.html.twig' %}

{% form_theme formSearch ':Form:search.html.twig' %}


{% block content %}
<h1 class="page-header">Users</h1>

{# Search bar #}
<div class="bg-searchform">
{{ form_start(formSearch) }}
{{ form_errors(formSearch) }}


{{ form_row(formSearch.email) }}

{{ form_widget(formSearch.search) }}

{{ form_end(formSearch) }}
</div>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

  {% for user in users %}
  <tr>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>
      {% for role in user.roles %}
        {{ role }}
      {% endfor %}
    </td>
    <td><a href="{{ path('user-edit', {'id' : user.id }) }}"
      class="btn btn-default">Edit</a>
    </td>
  </tr>
  {% endfor %}

</table>


{% endblock %}
