{% extends ':Admin:main.html.twig' %}

{% form_theme formSearch ':Form:search.html.twig' %}

{% block javascripts %}
{{ parent() }}
{{ form_javascript(formSearch) }}
{% endblock %}


{# Add stylesheet for date picker #}
{% block stylesheets %}
{{ parent() }}
{{ form_stylesheet(formSearch) }}
{% endblock %}


{% block content %}

<h1 class="page-header">Sell new ticket</h1>

{# Display error message #}
{% if errorMsg %}
<div class="alert alert-danger">
  {{ errorMsg }}
</div>
{% endif %}


{# Search bar #}
<div class="bg-searchform">
{{ form_start(formSearch) }}
{{ form_errors(formSearch) }}

{{ form_row(formSearch.movie) }}
{{ form_row(formSearch.date) }}
{{ form_row(formSearch.cinema) }}
{{ form_row(formSearch.genre) }}

{{ form_widget(formSearch.save) }}

{{ form_end(formSearch) }}
</div>


{# Table with projections #}
<table class="table table-striped">
  <tr>
    <th>Time</th>
    <th>Date</th>
    <th>Movie</th>
    <th>Genre</th>
    <th>Cinema</th>
    <th></th>
  </tr>
  {% for projection in projections %}
  <tr>
    <td>{{ projection.s_start }}</td>
    <td>{{ projection.s_date }}</td>
    <td>{{ projection.getMovieName }}</td>
    <td>{{ projection.getGenre }}</td>
    <td>{{ projection.getCinemaName }}</td>
    <td><a href="{{ path('cashier-ticketsell', {'projectionId' : projection.getId}) }}"
      class="btn btn-default">Sell it</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
