{% extends ':Admin:main.html.twig' %}

{% form_theme form ':Form:dashboard.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
  $('#profit_movie').autocompleter({url_list: '{{ asset('query/movie-search') }}', url_get: '{{ asset('query/movie-get') }}/'});
</script>
{% endblock %}

{% block content %}

<h1 class="page-header">Profit</h1>

{# Add cinema form #}
<div class="add-content">

{# Display error message #}
{% if errorMsg %}
<div class="alert alert-danger">
  {{ errorMsg }}
</div>
{% endif %}

{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.movie) }}
{{ form_row(form.cinemas) }}

{{ form_widget(form.show) }}
{{ form_widget(form.clear) }}

{{ form_end(form) }}
</div>

{# Profit window #}
{% if profit.valid %}
<div class="row">

{# Total profit #}
<div class="col-md-4">
<h3>Total profit</h3>
<p>
  {{ profit.value }}
</p>
</div>

  {# Movie name #}
  {% if profit.movie %}
  <div class="col-md-4">
  <h3>Movie</h3>
  <ul class="list-unstyled">
    <li>{{ profit.movie.name }}</li>
  </ul>
  </div>
  {% endif %}

  {% if not profit.cinemas.isEmpty %}
  {# Cinema name #}
  <div class="col-md-4">
  <h3>Cinema</h3>
  <ul class="list-unstyled">
    {% for cinema in profit.cinemas %}
        <li>{{ cinema.name }}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}


</div>
{% endif %}

{% endblock %}
